* {
  box-sizing: border-box;
  margin: 0;
}

video, canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

video {
  width: 100%;
  height: 100%;
}

canvas {
  opacity: 0;
}

#regl-canvas {
  opacity: 1;
  z-index: 10;
}
